@mixin property-with-rgba($property, $color, $opacity: 0.3) {
    #{$property}: $color; 
    #{$property}: rgba($color, $opacity);
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/* colors */
$offWhite: #f2f2f2;
$blue:#056eb1;
$lightBlue:#018ee6;
$darkBlue: #0365a5;
$green:#67a84b;
$lightGreen:#7bc35b;

/* body */
$bodyBackground: #fff;

/* buttons */

/* accordion */

/* article */
$bodyContentColor: #1f1f1f;
$excerptColor: $blue;

/* links */
$linkColor: $green;
$hoverColor: $lightGreen;
$visitedColor: #ccc;