/* body */
$wrapperWidth: 1180px;

body { font-family: $defaultFontStack; line-height: 1.4; overflow-x:hidden;}

.page-wrapper { margin: 0 auto; position: relative; width: 1920px; max-width: 100%; background: #fff;}
.sw { width: $wrapperWidth; max-width: 95%; margin: 0 auto; position: relative; }
.ie8 body { min-width: $wrapperWidth; }

.body { position: relative; }
.body section { padding: 40px 0; }
.body .dark-bg { color: #fff; }
.body .light-bg { background: $offWhite; }
.body .black-bg { background: #333; }

.green-bg { background: $lightGreen; }
.blue-bg { background-color: $blue; }

.body p { margin: 0 0 16px; }