/* header */
#mobile-nav { position: absolute; top: 15px; left: 0; z-index: 21; outline: none; display: none; color: #fff; font-size:32px;}

.header-logo { display: block; width: 61px; position: fixed; z-index: 12; top: 40px;}
.header-logo img { width: 100%; }