/* nav */
body { padding-top: 122px; }
.nav-wrap { position: fixed; top:0; left:0; right:0; height: 122px; border-top: 26px solid #333; z-index: 10; background: $blue;}

.nav-wrap .search-form { background: $darkBlue; border: none; position: fixed; top:-76px; left:0; right:0; z-index:-10;}
.nav-wrap .search-form input,
.nav-wrap .search-form .fa-search { color:#fff; font-size: 28px; outline:none;}
.nav-wrap .search-form .fa-search:before { line-height:1; margin-top :-14px; top: 50%; }
.nav-wrap .search-form input {
	padding-right: 50px; 
	@include placeholder {
		color: #fff; font-size: 28px; 
	}
}
.nav-wrap .search-form input { font-weight: 300; font-family: $defaultFontStack; }
.nav-wrap .search-form button { z-index: 10; }



.search-bg { position:fixed; top:50px; left:0; right:0; bottom:-100px; content:""; opacity:0; background: #000; visibility: hidden; z-index: -1; cursor: pointer; display:block;
	@include transition( opacity 0.25s $ease-in-out-sine 0.3s );
}
.show-search .search-bg { z-index: 100; opacity:0.6; visibility: visible;
	@include transform( translateZ(0) );
}

.nav-wrap,
.header-logo {
	@include transition( transform 0.3s $ease-in-out-sine );
}

.show-search .nav-wrap,
.show-search .header-logo {
	@include transform( translate3d(0,50px,0) );
}
.no-csstransforms3d .nav-wrap .search-form { top:0; visibility: hidden;}
.no-csstransforms3d .show-search .nav-wrap,
.no-csstransforms3d .show-search .header-logo { margin-top: 50px; }
.no-csstransforms3d .show-search .nav-wrap .search-form { visibility: visible; }


.nav .top { position: absolute; top: -26px; right:0; color: #fff; }
.nav .top>div { display: inline-block; padding: 0 8px; border-left: 1px solid #fff; line-height:12px; vertical-align:middle;}
.nav .top>div:first-child { border: none;}
.nav .top a { color: #fff; text-transform: uppercase; font-size: 12px; display:inline-block; margin: 0 6px; line-height:12px;}
.nav .top button:hover,
.nav .top a:hover { color: $lightBlue; }

.nav .top .shop i { margin-right: 6px; }

nav { position: absolute; top:0; right:0; left:0; height: 96px; text-transform: uppercase; font-size: 14px; }
nav>ul { display: table; height: 100%; width: 700px; max-width:100%; float:right;}
nav>ul>li { display: table-cell; }
nav>ul>li>a { display: block; height: 96px; color: #fff; padding: 0 10px; text-align: center; line-height: 96px; 
	@include transition( background 0.15s $ease-in-out-sine );
}
nav>ul>li>a>span { line-height: normal; display: inline-block; vertical-align: middle;}

nav>ul>li>div { position: absolute; top: 100%; left:0; right:0; visibility: hidden; background: $lightGreen;
	@include transform( scale(1,0) );
	@include transform-origin( center top );
	@include transition( transform 0.15s $ease-in-out-sine );
}
nav>ul>li:hover>div { visibility: visible;
	@include transform( scale(1,1) );
}

.no-csstransforms nav>ul>li>div { display: none; }
.no-csstransforms nav>ul>li:hover>div { display: block; }

nav>ul>li:hover>a { background: $lightGreen; }
nav li.shop>a { background: $lightBlue; }

nav li.shop>a i { margin-right: 6px; }

nav>ul>li>div:before { position: absolute; top:0; left:0; width: 260px; bottom:0; z-index:1; content:""; background: $green;}
nav ul ul { float: left; width: 260px; position: relative; z-index: 2;}
nav .link-meta { margin-left: 260px; padding: 20px; color: #fff; text-transform: none; min-height: 200px;}
nav .link-meta .title { margin: 0 0 10px; }
nav .link-meta.active>div:first-child,
nav .link-meta>div { display: none; }
nav .link-meta>div:first-child,
nav .link-meta.active>div.active { display: block; }
nav .meta { overflow: hidden; margin-right: 270px;}
nav .img { position: absolute; width: 250px; top:0; right:0; bottom:0; background-size: cover; background-position:center; background-repeat: no-repeat;
	@include opacity( 0 );
}
nav .img.loaded { 
	@include opacity( 1 );
	@include transition( opacity 0.2s $ease-in-sine );
}
nav ul ul { padding: 20px 0 20px 0; }
nav ul ul a { display: block; padding: 6px 6px 6px 20px; color: #fff; position: relative;}
nav ul ul a:after { content:""; position: absolute; right: -2px; width: 2px; top:0; bottom:0; display: none;}
nav ul ul a:hover { background: $lightGreen;}
nav ul ul a:hover:after { display: block; }

.shop-dropdown { overflow:hidden; padding: 20px; font-size:12px;}
.shop-dropdown .title { margin-bottom: 5px; }
.shop-dropdown>div { position: relative; z-index: 2; }
.shop-dropdown a { color: #fff; }
.shop-dropdown:before { width: 55%;}
.shop-dropdown { }
.shop-dropdown-store { width: 55%; padding-right: 20px; float: left; }
.shop-dropdown-account { float: none; margin-left: 55%; padding-left: 20px;}
.shop-dropdown-body-parts { overflow:hidden; width: 360px; float: left; }
.shop-dropdown .body-part-link { display: block; float: left; width: 180px; padding: 10px; border-radius: 14px; }
.shop-dropdown .body-part-link span { display: inline-block; width: 50px; height: 50px; vertical-align: middle; margin-right: 20px; }
.shop-dropdown .body-part-link img { width: 100%; }

.shop-dropdown-store a {
	@include transition( background-color 0.2s $ease-in-out-sine );
}
.shop-dropdown-store a:hover {
	@include property-with-rgba( background-color, $lightGreen, 0.4 );
}

.shop-dropdown-store-links { margin: 30px 0 30px 370px; position: relative; padding: 15px; }
.shop-dropdown-store-links a { display: block; padding: 8px; }
.shop-dropdown-store-links:before { position: absolute; left: 0; top: -10px; bottom: -10px; content:""; border-left: 1px solid;
	@include property-with-rgba( border-left-color, #000, 0.3 );
}

.shop-dropdown-cart { float:left; width: 230px; }
.shop-dropdown-cart-contents { border-radius: 8px; position: relative; line-height: 42px; background: $green; color: #fff; overflow:hidden; margin: 0 0 10px;}
.shop-dropdown-cart-contents:after { content:""; position: absolute; right:0; width: 50%; top:0; bottom:0; background: $blue; z-index: 1;}
.shop-dropdown-cart-contents span { position: relative; z-index: 2; padding: 8px;}
.shop-dropdown-cart-contents .total { position: absolute; top:0; right:0; text-align: right; bottom:0; padding:0 8px 0 0;}
.shop-dropdown-cart .button { font-size: 12px; width: 50%; text-align: center; }

.shop-dropdown-recently-viewed { margin-left: 250px; }