/* footer */
footer { background: $blue; font-size: 12px; }
footer,
footer a { color: #fff; }
footer a:hover { color: #dadada; }

footer>.sw:first-child { padding: 20px 0; }
.footer-nav {  text-transform: uppercase; width: 280px; }
.footer-nav:after { @extend .cf:after; }
.footer-nav ul { margin-left: -5px; }
.footer-nav li { float: left; width: 50%; }
.footer-nav a { display: block; padding: 5px; }
.footer-nav a:hover { background: $darkBlue; color: #fff; }

.footer-contact { float: right; width: 250px;}


#jac { position: absolute; right:0; top:50%; margin-top: -12px;  width: 186px; padding: 25px 0 0; background: url(../images/jac-we-create.png) 0 0 no-repeat; background-size: 186px 50px; 
	@include transition( background $ease-in-out-sine 0.15s );
}
#jac:hover { background-position: 0 bottom; }
.twox #jac { background-image: url(../images/jac-we-create@2x.png); }
.threex #jac { background-image: url(../images/jac-we-create@3x.png); }

.copyright { position: relative; font-size: 10px; text-transform: uppercase; color: #fff; padding: 20px 0; cursor: default; margin-top: 10px; background: $darkBlue;}
.copyright a {
	@include transition( color 0.15s $ease-in-out-sine );
}
.copyright li { display: inline-block; border-left: 1px solid #fff; margin-right: -0.25em; margin-left: 5px; padding-left: 5px; line-height: 1;}
.copyright li:first-child { margin-left:0; padding:0; border: none; }