/* headings */
h1,h2,h3,h4,h5,h6 { line-height: 1.2; font-weight: normal; margin: 5px 0 10px; font-family: $defaultFontStack;}

.hgroup { margin: 0 0 10px; }
.hgroup h1,
.hgroup h2,
.hgroup h3,
.hgroup h4,
.hgroup h5,
.hgroup h6,
.hgroup span { margin:0; }

h1,.h1-style,
h2,.h2-style,
h3,.h3-style,
h4,.h4-style,
h5,.h5-style,
h6,.h6-style { display: block; font-family: $defaultFontStack; text-transform: uppercase; color: $blue;}

.dark-bg h1, .dark-bg .h1-style,
.dark-bg h2, .dark-bg .h2-style,
.dark-bg h3, .dark-bg .h3-style,
.dark-bg h4, .dark-bg .h4-style,
.dark-bg h5, .dark-bg .h5-style,
.dark-bg h6, .dark-bg .h6-style { color: #fff; }

.subtitle { font-size:18px; }

.h1-style,
h1 { font-size: 32px; }
.h2-style,
h2 { font-size: 28px; }
.h3-style,
h3 { font-size: 24px; }
.h4-style,
h4 { font-size: 20px; }
.h5-style,
h5 { font-size: 16px; }
.h6-style,
h6 { font-size: 14px; }