/* buttons */
/* remove default button styling */
button { background: transparent; border: none; }

.button { text-transform: uppercase; font-size: 14px; line-height: 22px; padding: 10px 16px; display: inline-block; cursor: pointer; color: #fff; border-radius: 6px; font-family: $defaultFontStack; font-weight: 200; position:relative;
	@include transition( background 0.25s $ease-in-out-sine );
}
.button.fa { padding-right: 32px; }
.button.fa-left { padding-right: 16px; padding-left: 32px; }
.button.fa:before { position: absolute; font-size: 22px; top: 50%; margin-top: -11px; right: 16px; font-family: FontAwesome;}
.button.fa-left:before { left: 8px; right:auto; }

.button.green { background-color: $green; }
.button.disabled { background-color: #999 !important; color: #ccc !important;}

a:hover .button.green,
.button.green.hovered,
.button.green:hover { background-color: $lightGreen; }
.button.blue { background-color: $blue; }

a:hover .button.blue,
.button.blue:hover { background-color: $lightBlue; }