@import "4.2.0-gmap";
@import "4.2.1-article";
@import "4.2.2-forms";
@import "4.2.3-accordion";
@import "4.2.4-custom-dropdown";
@import "4.2.5-responsive-video";
@import "4.2.6-social";
@import "4.2.7-hero";
@import "4.2.9-tabs";

/* address block */
.address-block { overflow: hidden; }
.address-block address,
.address-block .phones { width: 50%; float: left; }
.address-block .phones { text-align: right; }
.address-block .phones span { display: block; }

/* section header */
.section-header { text-align: center; margin: 0 0 20px; }
.section-header .subtitle { width: 340px; max-width: 90%; margin: 0 auto; display:block;}
.section-header .subtitle.wide { width: 720px; }
.section-header.page-title { padding: 0 0 20px; position: relative; margin-bottom: 30px;}
.section-header.page-title:after { position: absolute; bottom:0; width: 180px; left:0; right:0; margin: 0 auto; border-top: 3px solid #ccc; content:"";}

/* looking for help */
.looking-for-help-form { border-bottom: 1px solid #fff; }
.looking-for-help-form p { margin:0; }
.looking-for-help-form .col .item { padding: 20px; }
.looking-for-help-form form {  border-radius: 6px;}
.looking-for-help-form input { padding: 14px 8px; }
.looking-for-help-form button { color: $blue; font-size: 28px; line-height: 45px; }

/* blocks */
.blocks { padding: 20px 0; }
.blocks.clear .item,
.blocks.clear .block { background: transparent; border: none;}
.blocks .item { background: #fff;
	@include display( flex );
}

.blocks.centered .item { text-align:center; }

.full-bg .blocks { padding:0; }
.full-bg .blocks .block { border-left: 1px solid #fff; }

.no-flexbox .full-bg .blocks .block,
.full-bg .blocks.list-view .block { border-bottom: 1px solid #fff !important; }
.flexbox .full-bg .blocks .col:first-child .block { border:none; }

.blocks .item.with-title { margin-top: 80px; position:relative;}
.blocks .item.with-title .hgroup { position: absolute; top: -80px; left:0; right:0; }

.blocks .block { padding: 15px; position: relative; width: 100%; display: block; color: #000; overflow: hidden; font-size:13px; background: #fff; border: 1px solid #ccc;}
.block.with-button { padding-bottom: 80px; }
.blocks .img-wrap { height: 0; overflow: hidden; margin: -15px -15px 10px; position: relative; height: 150px; text-align:center;}
.blocks .img { background-size: cover; background-position: center; background-repeat: no-repeat; position: absolute; top:0; left:0; right:0; bottom:0; }
.blocks .img-wrap .fa:before { color: #fff; font-size: 82px; line-height:150px;}
.blocks .title { display: block; margin: 0 0 4px; }
.blocks.centered .button { right:0; margin: 0 auto; width: 150px;}
.blocks .button { position: absolute; bottom: 20px; left:10px;}

.csstransitions .blocks .block .img-wrap .fa,
.blocks .img {
	@include transition( transform 0.4s $ease-in-out-sine );
}

.csstransitions .blocks .block:hover .img-wrap .fa,
.csstransitions .blocks .block:hover .img { 
	@include transition-timing-function( $ease-out-back );
	@include transform ( scale( 1.25, 1.25 ) );
}

.csstransitions .blocks .block.no-scale .img,
.csstransitions .blocks .block.no-scale .fa {
	@include transition( none );
	@include transform( none !important );
}
	
@import "collapsed_blocks_placeholders";

.blocks.list-view .col { @extend %collapsed-blocks-col; }

.blocks.list-view .item,
.no-flexbox .blocks .item { @extend %collapsed-blocks-item; }

.blocks.list-view .block,
.no-flexbox .blocks .block { @extend %collapsed-blocks-block;  }

.blocks.list-view .item.with-title,
.no-flexbox .blocks .item.with-title { @extend %collapsed-blocks-item-with-title;  }

.blocks.list-view .item.with-title .hgroup,
.no-flexbox .blocks .item.with-title .hgroup { @extend %collapsed-blocks-item-with-title-hgroup; }

.blocks.list-view .block .content .button,
.no-flexbox .blocks .block .content .button { @extend %collapsed-blocks-block-content-button; }
.blocks.list-view .block .img-wrap,
.no-flexbox .blocks .block .img-wrap { @extend %collapsed-blocks-block-img-wrap;}

.blocks.list-view .block .img-wrap~div,
.no-flexbox .blocks .block .img-wrap~div { @extend %collapsed-blocks-block-img-wrap-sibling-div; }

/* overview */
.overview-blocks { }
.overview-block { display: block; margin: 0 0 20px; padding: 40px; overflow:hidden; color: inherit;}
.overview-block .img-wrap { width: 30%; margin-right: -0.5em; background: center no-repeat; background-size: cover; overflow:hidden;}
.overview-block .img-wrap div { background: center no-repeat; background-size: cover; }
.overview-block.with-img .content { width: 70%; padding:0 30px 0 0; }
.overview-block .img-wrap+.content { padding: 0 0 0 30px;}
.overview-block .img-wrap img { visibility: hidden; }
.overview-block .img-wrap,
.overview-block .content { display: inline-block; vertical-align: middle; }
.overview-block p { margin: 0 0 16px; }
.overview-block .img-wrap div {
	@include transition( transform 0.4s $ease-in-out-sine );
}
.overview-block:hover .img-wrap div {
	@include transition-timing-function( $ease-out-back );
	@include transform ( scale( 1.25, 1.25 ) );
}

/* sidebar modules */
.sidebar { max-width: 500px; margin: 0 auto;}
.sidebar>* { margin: 0 0 20px; }

.sidebar .side-nav { }
.sidebar .side-nav a { border-top: 1px solid $green;
	@include transition( all 0.15s $ease-in-out-sine );
}
.sidebar .side-nav a,
.sidebar .side-nav span { background: $lightGreen; text-align: center; display: block; padding: 8px; text-transform: uppercase; color: #fff;}
.sidebar .side-nav span { background: $green; }
.sidebar .side-nav a.selected,
.sidebar .side-nav a:hover { background: $blue; border-top-color: $blue;}

.side-promo { display: block; margin-left: auto; margin-right: auto; padding: 20px; color: #fff; position:relative; min-height: 150px;}
.side-promo div { position: relative; z-index: 2; }
.side-promo .title { font-size: 22px; margin: 0 0 12px; line-height: 1.2;}
.side-promo .title,
.side-promo .tag { display: block;}
.side-promo .button { margin: 10px 0; }
.side-promo:after { position: absolute; top:20px; left:20px; right:20px; bottom:20px; content:""; background: url(../images/side-promo.png) center top no-repeat; z-index: 1;}
.side-promo.green { background: $green; }
.side-promo.blue { background: $blue; }

.sidebar .recently-viewed { background: $lightGreen; padding: 0 5px 10px; overflow:hidden;}
.sidebar .recently-viewed .title { padding: 8px; color: #fff; margin: 0 -5px 10px; background: $green;}

/* absolute positioned fa-icons */
.fa-abs { position: relative; }
.fa-abs:before { position: absolute; top: 50%; left:0; right:0; text-align: center; z-index: 2; }
.featured-image.inline-video-playing:before { display: none !important; }
.featured-image.fa-play-circle:before { font-size: 34px; color: #fff; line-height: 34px; margin-top: -17px; opacity:0.6; 
	@include transition( all 0.4s $ease-in-out-cubic );
}
.featured-image.fa-play-circle:hover:before { opacity:1;
	@include transform ( scale( 2, 2 ) );
}
.featured-image.inline-video { cursor: pointer; }

/* filter section */
.filter-area { }
.filter-bar { background: $blue; color: #fff; line-height:56px; height:56px; padding-left: 15px;}
.filter-bar .filter-controls { float: right; height:100%;}
.filter-controls button { text-indent:-999em; width: 38px; background: $darkBlue; overflow:hidden; position: relative; color: #fff; line-height:56px; height:100%; display:block; float:left; margin-left: 1px;
	@include transition( background 0.15s $ease-in-out-sine );
}
.filter-controls button:before { text-align:center; position: absolute; top:0; left:0; right:0; bottom:0; text-indent:0; font-size: 28px;}
.filter-controls button:hover { background: $lightBlue; }

.filter-bar .count { text-transform: uppercase; }
.filter-bar .num { display: inline-block; padding: 8px 12px; border-radius: 18px; border: 2px solid #fff; line-height: 1; vertical-align: middle; margin: -4px 4px 0 0;}
.filter-bar .filter-bar-buttons { float: right; }
.filter-bar .single-form { float: right; margin: 12px 12px 0 0; line-height:1;}
.filter-bar .single-form input { line-height:1; }
.filter-bar .single-form button.fa:before { top: 50%; margin-top: -10px; 
	opacity:0.5;
}
.filter-bar .single-form button.fa:hover:before { opacity:1; }
.filter-bar .button { margin: 6px 12px 0 0; }

.filter-content { }

/* injury finder */
#injury-finder-selector { display:none; } /* for use on mobile only */
.injury-finder-button { display:block; width: 100%; text-align: center; padding: 20px; position: relative; font-size: 16px; text-transform: uppercase; color: $blue;}
.injury-finder-button img { width: 100%; max-width: 150px; margin: 0 auto 20px; display:block;}
.injury-finder-button:after { content:""; position: absolute; bottom: -26px; left:0; right:0; margin: 0 auto; display: block; border: solid transparent; border-width: 13px 22px; border-top-color: #e4e4e4; width:0; height:0; display:none;}
.injury-finder-button.selected,
.injury-finder-button:hover { background: #e4e4e4; }
.injury-finder-button.selected:after { display:block; }

/* testimonials */
.cite { color: #999; }

/* shop blocks */
.block .category { background: $blue; color: #fff; display: inline-block; padding: 3px 6px; position: absolute; bottom: 30px; right: 10px; text-transform: uppercase; font-size: 12px;}
.block .price { font-weight: 700; color: $blue; display: block; }
.cart-item { position: relative; margin-bottom: 25px; }
.cart-item .remove-link { position: absolute; left:0; right:0; bottom: -20px; text-align: center; font-family: $defaultFontStack; color: $blue; display:block; width: 100%;}
.cart-item .remove-link:before { font-family: FontAwesome; margin-right: 4px;}

/* recently viewed products */
.recently-viewed-product { display: block; background: $green; margin: 0 0 2px; height: 50px; line-height: 50px; padding: 0 60px; position: relative; color: #fff;}
.recently-viewed-product .product { line-height:normal; vertical-align: middle; display: inline-block;}
.recently-viewed-product .price { display: block; }
.recently-viewed-product .product-img,
.recently-viewed-product .link { position: absolute; top:0; bottom:0; width: 50px;}
.recently-viewed-product .product-img { left:0; background: contain center no-repeat;}
.recently-viewed-product .link { right:0; background: $blue; text-align: center;
	@include transition( background-color 0.2s $ease-in-out-sine );
}
.recently-viewed-product:hover .link { background: $lightBlue; }

/* account */
.table-wrapper { margin: 0 0 30px !important; }
table { width: 100%; border-collapse: collapse; margin: 0 0 30px; border: none;}
table th { background: $blue; color: #fff; font-weight: normal; text-transform: uppercase;  }
table th,td { text-align: center; padding: 8px; border: 1px solid #fff; }
table tr:nth-child(2n+2) { background: #f2f2f2; }

.blocks .shop-block { border: none; background-color: $blue !important;
	@include transition( background-color 0.2s $ease-in-out-sine );
}
.shop-block .block { color: #fff;  position: relative; background: transparent url(../images/temp/block-head-transparent.png) center no-repeat; background-size:cover;}
.blocks .shop-block:hover { background-color: $lightBlue !important; }
.shop-block-title { color: #fff; position: relative; }
.shop-block-title:after { max-width: 70%; margin: 15px auto; display: block; border-top: 2px solid #ccc; content:"";}
.no-flexbox .shop-block .block,
.list-view .shop-block .block { text-align: center !important; background: transparent; }

/* shop navigation */
.shop-menu { position: absolute; right:0; z-index: 9; min-width: 280px; top:0; border: solid #fff; border-width: 1px 0 1px 1px;}


.shop-menu .menu-content { background: $offWhite; max-height:0; overflow:hidden;
	@include transition( max-height 0.2s $ease-in-out-sine );
}
.shop-menu.expanded .menu-content { max-height: 600px; }
.breadcrumbs+.shop-menu { margin-top: 55px; }
.shop-menu .title { background: #e4e4e4; padding: 15px; margin:0; font-family: $defaultFontStack; display:block;}
.shop-menu-section { border-top: 1px solid #e4e4e4; padding: 6px 0; overflow:hidden;}
.shop-menu-section a { display: inline-block; padding: 6px; color: $blue;
	@include transition( background 0.15s $ease-in-out-sine );
}
.shop-menu-section a:hover { background: #e4e4e4; }
.shop-menu-section .block-link { padding: 5px 15px; display: block; }
.shop-menu-section.padded { padding: 6px 15px; }
.shop-menu-user { font-style: italic; }
.shop-menu-user span { color: $green; }
.shop-menu-section-title { color: $green; display: block; padding: 6px 15px 2px; }
.shop-menu .cart { float: right; }
.shop-menu .fa-navicon { position:relative; cursor: pointer;}
.shop-menu .fa-navicon:before { position: absolute; right: 10px; font-family: FontAwesome; font-size: 26px; line-height: 26px; top: 50%; margin-top: -13px; }