/* selectors */
.selector { position: relative; margin: 0 0 10px; cursor: pointer; display: inline-block; background: $blue;}
.selector:after { right: 10px; margin-top: -10px; left:auto; pointer-events: none; top: 50%; opacity:0.5; }

.selector .value { display: block; padding: 9px 14px 8px; color: #fff; line-height: 1; font-family: $defaultFontStack; font-size: 14px; position: relative;}
.selector .value:before { position: absolute; top: 50%; margin-top: -12px; right:16px; font-family: FontAwesome; line-height:1; font-size: 24px; }
.selector select:focus+.value,
.selector:hover .value { color: #fff;}

.selector:hover:after { opacity:1;}

.selector select { position: absolute; top:0; left:0; right:0; bottom:0; width: 100%; height: 100%; opacity:0; background: transparent; cursor: pointer; z-index: 10;}
.ie8 .selector select { width: 100%; height: 100%; filter: alpha(opacity=0); }