$sidebarWidth: 320px;

.featured-image { background: center no-repeat; background-size: cover; max-width: none !important; width: 100%; }

/* main body */
.main-body { padding: 0 0 20px; }
.main-body.with-sidebar { margin-right: -#{$sidebarWidth}; float: left; width: 100%; padding-right: 40px; }
.main-body.with-sidebar>div { margin-right: #{$sidebarWidth}; }
.main-body.with-sidebar+.sidebar { float: left; width: #{$sidebarWidth}; padding: 0 0 20px 0; color: #fff; font-family: $defaultFontStack; color: $bodyContentColor;}

@each $element in h1,h2,h3,h4,h5,h6 {
	.article-body #{$element}+ul,
	.article-body #{$element}+ol { margin-top:0; }
}

.article-body { font-family: $defaultFontStack; color: $bodyContentColor; font-size: 14px;}
.article-body time,
.blocks .content time { display: block; color: #ccc; border-bottom: 1px solid #ccc; padding-bottom: 8px; margin-bottom: 8px; font-style: italic; }

.article-body blockquote,
.article-body .excerpt { color: $blue; font-size: 16px; }

.article-body a.inline,
.article-body span a,
.article-body p a,
.article-body li a,
.article-body blockquote a { display: inline-block; position: relative; z-index: 1; color: $linkColor; white-space: nowrap; }

.article-body a.visited,
.article-body a.inline:visited,
.article-body span a:visited,
.article-body p a:visited,
.article-body li a:visited,
.article-body blockquote a:visited { color: $visitedColor; }

.article-body a.hover,
.article-body a.inline:hover,
.article-body span a:hover,
.article-body p a:hover,
.article-body li a:hover,
.article-body blockquote a:hover { color: $hoverColor; }

.article-body ul,
.article-body ol { margin: 25px 0; }
.article-body li ul,
.article-body li ol { margin: 5px 0; }
.article-body li { position: relative; margin: 0 0 7px;  color: $bodyContentColor; line-height: 1.6;}
.article-body ul>li { padding-left: 18px;}
.article-body ul>li:before { content:""; width: 6px; height: 6px; border-radius: 3px; background: $green; display: block; position: absolute; 
	right: auto; left: 0; top:4px; margin-top: 4px; 
}

.article-body ul ul>li:before { background: #666; }

.article-body ol { counter-reset: li; padding-left: 10px;}
.article-body ol>li { list-style-type: none; padding-left:10px;}
.article-body li li { color: #99a5c2; }
.article-body ol>li:before { position: absolute; left: -10px; top: 0; content:counter(li); counter-increment:li; color: $green; font-weight: bold;}
.article-body ol ol>li:before { content:counter(li, lower-alpha); color: #99a5c2; }
.article-body p { margin-bottom: 16px; font-size: 14px; line-height: 1.6;}
.article-body p+ul,
.article-body p+ol { margin-top:0; }

.sidebar hr,
.article-body hr { margin: 24px 0; border: solid #ccc; border-width: 1px 0 0; clear: both;}

.sidebar>div { margin: 0 0 20px; }
.sidebar .button { font-size: 13px; }
.sidebar .head { padding: 12px; background: #000;}
.sidebar .button.large { font-size: 14px; padding: 14px 8px; text-align: center; }
.sidebar .button.full { display: block; }
.sidebar .button+.button { margin-top: 2px; }

.sidebar .single-form input { font-size: 14px; padding: 10px; line-height:1;
	@include placeholder {
		font-style: italic; font-size: 14px;  
	}
}

.sidebar .single-form button { opacity:0.4; }
.sidebar .single-form button:hover,
.sidebar .single-form input:focus+button { opacity:1; }

.breadcrumbs { padding: 10px 0; font-size: 14px; text-transform: uppercase; cursor: default}
.breadcrumbs a { text-decoration: none; color: #939598; }
.breadcrumbs a:hover { color: #000;}
.breadcrumbs a:first-child~a:before { content:"\00BB"; display: inline-block; color: #939598 !important; line-height: 1; font-size: 22px; vertical-align: baseline; margin: 0 3px;}
.breadcrumbs a:first-child { width: 18px; text-indent: -999em; overflow: hidden; position: relative;}
.breadcrumbs a:first-child:before { text-indent:0; position: absolute; top:0; left:0; right:0; bottom:0; text-align:center; font-size:17px; color: $green;}
.breadcrumbs a:first-child:hover { opacity:1; filter: alpha(opacity=100); }