/* social */
.social { text-align: center; cursor: default;}
.social.alleft { text-align: left; }
.social .fa { position: relative; width: 20px; height: 20px; text-indent: -999em; overflow: hidden; color: #fff; vertical-align:top; cursor: pointer;}
.social .fa:hover { color: $lightBlue; }
.social .fa:before{ font-size: 16px; position: absolute; text-indent:0; text-align: center; top:0; line-height: 20px; left:0; right:0; }
.nav .social .fa { margin:0; }
.social .phone-tooltip { position: absolute; top: 100%; left: -200px; right: -200px; visibility: hidden; margin-top: 10px; cursor: default; opacity:0;
	@include transform-origin( top center );
	@include transform( scale(0,0) );
	@include transition( all 0.35s $ease-in-out-sine );
}
.social .phone { overflow:visible; text-indent:0; }
.social .phone:hover .phone-tooltip { visibility: visible; opacity:1;
	@include transform( scale(1,1) );
	@include transition-timing-function( $ease-out-back );
}
.social .phone-tooltip>span { display: inline-block; padding: 8px 14px 6px; background: $green; color: #fff; font-size: 12px; border-radius: 4px; line-height:1; font-family: $defaultFontStack;}
.social .phone-tooltip>span:before { content:""; position: absolute; top:-20px; left:0; right:0; width:0; margin:0 auto; display: block; border: 10px solid transparent; border-bottom-color: $green; }
.social .phone-tooltip .fa { vertical-align: middle; border-radius: 14px; background: $darkBlue; width: 28px; height: 28px; margin-right: 8px; }
.social .phone-tooltip .fa:before { line-height: 28px;}

.social.light-social .fa { color: $blue; }
.social.dark-social .fa { color: #fff; }
.social.light-social.hovered .fa,
.social.light-social .fa:hover,
.social.dark-social.hovered .fa,
.social.dark-social .fa:hover { color: $green; }