/* gmap */
.gmap { height:450px; overflow: hidden; position: relative; background: #000; margin: 20px 0 0;}
.gmap img { max-width: inherit; }
.gmap>div { position: absolute; top:0; left:0; right:0; bottom:0; 
	@include opacity( 0 );
	@include transition( opacity 0.5s $ease-in-out-quad );
}
.gmap>div.loaded { 
	@include opacity( 1 );
}