/* hero */
.hero { background-color: #000; padding:0; position: relative; z-index: 2; overflow: hidden; }
.hero .swiper-wrapper { position: absolute; top:0; left:0; width: 100%; }
.hero .swiper-wrapper,
.hero .swipe,
.hero .swipe-wrap,
.hero .swipe-wrap>div,
.hero .item { height: 100%; }

html,
body,
.home .page-wrapper,
.home .hero { height:100%; }
.home .hero { min-height: 450px; max-height: 900px; }

.hero { height: 250px; }

.hero.single .swipe-wrap>div { float: none; }

.hero .item { position: absolute; top:0; left:0; width: 100%; z-index: 1; background-repeat: no-repeat; background-size: cover; background-position: center center;
	@include transition( opacity $ease-in-sine 0.4s );
}

.hero .swipe,
.hero .item { 
	@include opacity( 0 );
	@include transition( opacity $ease-in-sine 0.4s );
}

.hero .swipe {
	@include transition-delay( 0.2s );
}

.hero.loaded .swipe,
.hero .loaded>.item { 
	@include opacity( 1 );
}

/* hero caption */
.hero .caption { position: absolute; top:0; left:0; right:0; bottom:0; z-index: 4; text-align:center;}
.hero .caption:before { display: inline-block; vertical-align: middle; content:""; height: 100%; }
.hero .caption>.sw { display: inline-block; vertical-align: middle; color: #fff; text-align:left; padding: 0 100px;}
.hero .caption>.sw>div { width: 500px; max-width: 100%; }
.hero .caption .title { display: block; margin: 0 0 10px; font-size: 56px; text-transform: uppercase; }
.hero .caption .title .lt { font-weight: 200; display: inline-block; margin-right: 5px; }
.hero .caption p { margin: 0 0 16px; }

.hero .links { margin: -28px auto; max-width: 95%; width: 1200px;}
.hero .links a { color: #fff; width: 56px; height: 56px; line-height: 56px; text-indent: -999em; overflow:hidden; opacity:0.6; z-index: 5;
	@include transition( opacity 0.2s $ease-in-out-sine );
}
.hero .links a:hover { opacity:1; }
.hero .links a:before { font-size: 72px; position: absolute; top:0; left:0; right:0; text-align: center; text-indent:0;}

.hero .slider-controls { position: absolute; bottom: 10px; left:0; right:0; z-index: 4; text-align:center;}
.hero .slider-controls a { background: #fff; border-color: #fff !important; 
	@include transition( 0.2s $ease-in-out-sine );
	@include transition-property( background,border );
}
.hero .slider-controls a.selected,
.hero .slider-controls a:hover { background: $blue !important; border-color: $blue !important; }