#nav-is-responsive { position: absolute; top:-999px; left: -999px; width:0; height:0; display: none;}

/* responsive grid */
@each $size in 900,850,800,750,700,650,599,500,450 {

	@media screen and (max-width: #{$size}px) {
		.no-#{$size} { display: none !important; }
		.collapse-#{$size} { display: block !important; }
		.collapse-#{$size}>.col>.item,
		.collapse-#{$size}>.col { width: 100% !important; display:block;}
		
	}
	
}

@media screen and (max-width: 1200px) {
	
	.shop-dropdown-store-links { margin-left:0; text-align:center; overflow:hidden;}
	.shop-dropdown-store-links:before { display:none; }
	.shop-dropdown-recently-viewed { display:none;}
	.shop-dropdown-cart { width: auto; float:none;}
	
}

@media screen and (max-width: 1150px) {
	.shop-dropdown-body-parts { float: none; width: auto; }
	.shop-dropdown-body-parts .body-part-link { width: 50%; }
	.shop-dropdown-store-links { width: auto; overflow:hidden; margin: 5px 0;}
	.shop-dropdown-store-links a { width: 33.333%; float: left; text-align: center; }
	
	.shop-dropdown-account { display: none; }
	.shop-dropdown-store { width: auto; padding:0; float: none; }
}

@media screen and (max-width: 950px) {
	nav .meta { margin:0;}
	nav .img { display: none; }
	.shop-dropdown:before { width: 100%; }
	nav li.shop:hover>a { background: $green; }
}

@media screen and (max-width: 900px) {

	.overview-block .img-wrap { display: none; }
	.overview-block .content { display:block; padding:0 !important; width: auto !important; }

}

/* small nav at top */
@media screen and (max-width: 850px) {

	body { padding-top:0; }
	.nav-wrap { height:66px; }
	.nav .sw { position: static; }
	.nav .top { left:0; text-align:center; }
	nav { height: auto; top: auto; bottom: 0; }
	nav>ul { width: 100%; }
	nav > ul > li > a { height:40px; line-height: 40px; }

	.header-logo { top: 80px; z-index: 9; position: absolute; }
	.header-logo img { display:block; }
	.header-logo:after { position: absolute; content:""; top: -8px; left: -8px; right: -8px; bottom: -8px; background: $blue; z-index: -1; border-radius: 14px;}
	

	.hero .caption>.sw { padding:0; }
	.hero .links,
	.hero p { display: none; }
	

}

@media screen and (max-width: 800px) {

	/* search results */
	.search-results .results-types .selector { display: block; }
	.search-results .results-types .tab-control-wrap { display: none;}	
	
	/* collapsed sidebar */
	.main-body.with-sidebar { margin-right: 0; float: none; padding: 0 0 20px;}
	.main-body.with-sidebar>div { margin-right:0;}
	.main-body.with-sidebar+.sidebar { float: none; width: auto; padding-right:0;}
	.sidebar .no-collapse { display: none; }
	
	.body section { padding: 20px 0; }
	
	#injury-finder-buttons { display: none; }
	#injury-finder-selector { display: block; }
}

/* collapsed nav */
@media screen and (max-width: 750px) {


	.header-logo { position: static; margin: 0 auto; }
	.header-logo:before { display:none; }
	header { background: $blue; padding: 10px 0; border-bottom: 1px solid #fff;}
	
	.page-wrapper { height:auto !important;}

	.nav-wrap { bottom:0; right: auto; width: 240px; height:auto; border-top:none; z-index: 1; position: absolute; padding: 35px 0 0;}
	.nav { top:0 !important; border: none; overflow-y: scroll; overflow-x: hidden;  width: 240px; z-index: 1; max-width: 100%; margin:0; border: none; height: 100%; }
	.nav .top { position: static;}
	.nav .top>div { border:none; display:block; padding:6px 0;}
	.nav .top>div:first-child~div a { display: block; padding: 6px; text-align:left;}
	.nav>.sw { max-width: 100%; }

	.ios .nav-wrap { overflow: scroll; -webkit-overflow-scrolling: touch;}
	.ios .nav { overflow: scroll; -webkit-overflow-scrolling: touch; height: 105%;}

	.ios .nav,
	.ios .nav>.sw {
		@include transform( translateZ(0) );
	}

	.ios .nav>.sw { position: absolute; top:0; left:0; right:0; height: 105%;}

	nav { position: static !important; padding:0;}
	nav>ul { float: none; background: #000;}
	nav>ul,
	nav>ul>li { display: block; border: none;}
	nav ul div ul { float: none; display: inline-block; padding: 10px; width: auto;}
	nav>ul>li>a { color: #fff; text-align: left; padding: 8px; border-bottom: 1px solid #fff; line-height: 1; height: auto; background: $blue !important;}
	nav>ul>li>div { position: static; display: block; visibility: visible; border: none; box-shadow: inset 0 4px 4px rgba(0,0,0,0.4); padding:0; border-bottom: 1px solid #fff; left:0; right:0; text-align:left; background: $green;
		@include transform( none );
	}
	nav .link-meta,
	nav>ul>li>div:before { display: none; }
	nav ul div ul { width: auto; padding:0; display:block;}
	nav ul div ul li { margin:0; left:0; padding:0;}
	#mobile-nav { display: block; }
	
	.shop-dropdown { display:none !important; }
	.shop-dropdown,
	.shop-dropdown-store-links { padding:0; }
	.shop-dropdown a {
		@include transition-duration( 0s );
	}
	.shop-dropdown .title { display: none; }
	.shop-dropdown .body-part-link { width: auto; float:none; border-radius:0; border-bottom: 1px solid #333;}
	
	.shop-dropdown-store-links a { display:block; float: none; width: auto; }

	.hero { height: 250px; min-height:0;}
	.hero .caption .title { font-size:32px; }
	.hero .slider-controls { display:none; }
	
	.page-wrapper { position: relative; z-index: 20; background-color: #fff; height:auto;
		@include transition( transform 0.4s $ease-in-back );	
	}
	
	.show-nav { overflow:hidden; }
	.show-nav .page-wrapper { position: fixed; left: 0; top:0; box-shadow: 0 -4px 12px rgba(0,0,0,0.8); z-index: 20; 
		@include transition-timing-function( $ease-out-back );
		@include transform( translate3d(240px,0,0) );
	}

	.no-csstransforms3d .show-nav .page-wrapper	{
		@include transform( translateX(240px) );
	}
	.no-csstransforms .page-wrapper { overflow: hidden; position: relative; z-index: 20; left:0;
		@include transition( left 0.25s $ease-in-out-back );
	}
	.no-csstransforms .show-nav #mobile-nav { left: 240px; }
	.no-csstransforms .show-nav .page-wrapper { left: 240px; position: fixed;
		@include transform( none );
	}

	.no-csstransforms .show-reservations .page-wrapper { left: -240px; }
	.csstransforms .animating .page-wrapper { position: fixed !important; }

	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important;}
	
	.overview-block { padding:20px; }
	
	.shop-menu { position: static;}
	
	
	.nav .top .phone.fa-phone { display: block; width: auto; height:auto;}
	.nav .top .phone.fa-phone:before,
	.nav .top button.search{ display: none; }
	.social .phone-tooltip { position: static; display: block; visibility: visible;
		@include transform( none );
		@include opacity( 1 );
	}
	.social .phone-tooltip>span { display: block; }
	.social .phone-tooltip>span:before { display:none; }

	
	
	/* search form */
	.nav-wrap .search-form { position: absolute; top: 0; left: 0; right: 0; z-index: 10; padding: 0; border-bottom: 1px solid #fff; visibility: visible !important;}
	.nav-wrap .search-form .sw { max-width: 100%; }
	.nav-wrap .search-form input { font-size: 16px; 
		@include placeholder { font-size: 16px; }
	}
	.nav-wrap .search-form .fa-search:before { font-size: 16px; margin-top: -8px; }
	
	.show-search .search-bg { display: none; }
	.show-search .nav-wrap,
	.show-search .header-logo { 
		@include transform( none );
	}
	

}

@media screen and (max-width: 650px) {

	.blocks.list-view .block .img-wrap { display: none; }
	.blocks.list-view .block .img-wrap~div { margin-left:0; }
	
	.footer-contact { float: none; margin: 0 0 20px;}
	
	.cart-item .remove-link { bottom: auto; top: 10px; left: auto; right: 20px; width: auto; }
	
	.filter-bar { height: auto; position: relative; padding: 10px; }
	.filter-bar .filter-controls { float: none; position: absolute; bottom: 0; right: 0; top: auto; height: 56px; }
	.filter-bar .filter-bar-buttons { text-align:center; }
	.filter-bar .filter-bar-buttons,
	.filter-bar .single-form { float: none; display: block; margin: 0 0 15px; overflow: auto; }
	
}

@media screen and (max-width: 500px) {

	/* breadcrumbs */
	.breadcrumbs a { display: block; }
	.breadcrumbs a:first-child { display: none; }
	.breadcrumbs a:before { display: none; }
	
	#jac { position: relative; display: inline-block; right:0; margin: 10px 0 0;}

}