%collapsed-blocks-col { width: 100%; max-width: 100% !important; }
%collapsed-blocks-item { display: block !important; background: transparent; }
%collapsed-blocks-block { text-align: left; padding-bottom:0; padding: 10px;}
%collapsed-blocks-block-content-button { position: relative; margin: 10px 0; top:0; left:0; right:0; bottom:0;}
%collapsed-blocks-block-img-wrap { position: absolute; top: 0; left:0; width: 250px; bottom:0; margin:0; height: auto; padding:0; }
%collapsed-blocks-block-img-wrap-sibling-div { margin-left: 270px; }
%collapsed-blocks-item-with-title { margin-top:0; }
%collapsed-blocks-item-with-title-hgroup { position: static; }