/* colors */
$overlayBackgroundColor: #000;

/* has-overlay */
.has-overlay { position: relative; display: block; text-align: center;}
.has-overlay>.ib { position: relative; max-width: 100%; margin-bottom: -5px;}
.has-overlay img { display: block; margin: 0 auto;}
.has-overlay .overlay { text-align: left; position: absolute; bottom:0; left:0; right:0; width: 100%; padding: 14px 16px; }
.has-overlay .overlay:before { position: absolute; background: $overlayBackgroundColor; opacity: 0.8; content:""; top:0; left:0; right:0; bottom:0; z-index: 1;}
.has-overlay .overlay span,
.has-overlay .overlay div { position: relative; z-index: 2; color: #fff; }
.has-overlay .overlay .title { text-transform: uppercase; font-family: $boldFontStack;}
.has-overlay .overlay .subtitle { text-transform: uppercase; }
.has-overlay .overlay .title+.subtitle { display: block;}
.has-overlay a:hover .overlay:before { opacity:1; }
.has-overlay a .overlay { padding-right: 40px; }